//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.border {border: 1px solid #b1b4b6; 
padding: 30px 20px;
}
