{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     <form class="form" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  id: "water-use",
  name: "usage-industrial",
  value: data['usage-industrial'],
  fieldset: {
    legend: {
      text: "Select an industrial, commercial or construction use for your water",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
     
    }
  },
  items: [
    {
      value: "Boiler feed",
      text: "Boiler feed"
    },
     {
      value: "Conveying materials",
      text: "Conveying materials"
    },
     {
      value: "Dewatering",
      text: "Dewatering"
    },
     {
      value: "Dust suppression",
      text: "Dust suppression"
    },
    {
      value: "Gas suppression or scrubbing",
      text: "Gas suppression or scrubbing"
    },
    {
      value: "General or process washing",
      text: "General or process washing"
    },
    {
      value: "Hydraulic fracturing (Fracking)",
      text: "Hydraulic fracturing (Fracking)"
    },
    {
      value: "Hydraulic rams and testing",
      text: "Hydraulic rams and testing"
    },
    {
      value: "Make-up or top-up water",
      text: "Make-up or top-up water"
    },
    {
      value: "Mineral washing",
      text: "Mineral washing"
    },
    {
      value: "Pollution remediation",
      text: "Pollution remediation"
    },
    {
      value: "Process water",
      text: "Process water"
    },
    {
      value: "Raw water supply to third party",
      text: "Raw water supply to third party"
    },
    {
      value: "Water bottling",
      text: "Water bottling"
    },
     {
      value: "My usage is not listed",
      text: "My usage is not listed"
    }
  ],
  hint: {
    text: "Choose an option that best describes how you will use the water"
  }
}) }}    

{{ govukDetails({
  summaryText: "I have more than one intended use",
  text: "We can only provide water availability based on one type of use. We recommend you select your main intended use from the options on the list."
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
