{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" method="post">

        {{ govukRadios({
          name: "do-you-know-volume",
          value: data['do-you-know-volume'],
          fieldset: {
            legend: {
              text: "Do you know how much water you want to abstract in cubic metres a day?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
            
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}