{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "Do you want to abstract less than 20 cubic metres of water per day?" }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">


{{ govukRadios({
  name: "exemption",
  fieldset: {
    legend: {
      text: "Do you want to abstract more than 20 cubic metres of water per day?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
   
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
     
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
