{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Existing abstractors in this waterbody
      </h1>

{% if (data['watertype'] == "surface") %}  
{% for licence in data.riverCatchmentData[data.sid].licences %}
{% if (licence.attributes.Source_Type == "Surface water") %} 
<p class="govuk-body">
{{licence.attributes.Licence_Number}}<br>
{{licence.attributes.Licence_Holder_Name}}<br>
{{licence.attributes.Source_Type}}<br>
{{licence.attributes.Purpose}}<br>
{{licence.attributes.Max_Annual_Quantity_m3}} Annual Cubic Metres <br>
{{licence.attributes.Postcode}}<br>
{{licence.attributes |dump}}
</p>
{% endif %}
{% endfor %}

{% elseif (data['watertype'] == "ground") %}
{% for licence in data.groundwaterCatchmentData[data.gid].licences %}
{% if (licence.attributes.Source_Type == "Groundwater") %} 
<p class="govuk-body">
{{licence.attributes.Licence_Number}}<br>
{{licence.attributes.Licence_Holder_Name}}<br>
{{licence.attributes.Source_Type}}<br>
{{licence.attributes.Purpose}}<br>
{{licence.attributes.Max_Annual_Quantity_m3}} Annual Cubic Metres<br>
{{licence.attributes.Postcode}}<br>
{{licence.attributes |dump}}
</p>
{% endif %}
{% endfor %}
{% endif %}


  <!--    <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p> -->

    </div>
  </div>

{% endblock %}
