{% extends "layouts/main.html" %}

{% block pageTitle %}
  You will need to apply for a new licence
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <form class="form" method="post">

      <h1 class="govuk-heading-l">
        You may need to apply for a new licence
      </h1>

      <p class="govuk-body">You will need to apply for a new licence 
        if you are taking water from a new source. This usually applies 
        to bigger organisations working across multiple sites or on large plots of land.</p>
      <p class="govuk-body">If you are taking water from the same source (so a point 
        from the same water body, in close proximity to your existing licensed 
        abstraction point) you can usually apply for a <a href="https://www.gov.uk/guidance/change-revoke-or-transfer-a-water-abstraction-or-impoundment-licence" class="govuk-link">variation to your 
        existing licence</a>. This is often cheaper and simpler than a new licence application.</p>
      <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts" class="govuk-link">Contact the Environment Agency</a> for more information on whether you need to apply for a variation or a new licence.</p>


<p class="govuk-body">Continue below to see availability information for your area.</p>

       {{ govukButton({
          text: "Continue"
        }) }}

      </form>

     
    </div>
  </div>

{% endblock %}
