{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you apply
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How to apply</h1>

      <h2 class="govuk-heading-m">Steps for getting a licence</h2>

      <p class="govuk-body">Before submitting an application for a licence, you will need to:</p>

     <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          1. Check if you're in or impacting a designated site
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
<p class="govuk-body">Some areas of the country require additional environmental protection, 
  including those that have been designated as a protected area.</p>

<p class="govuk-body">The Conservation of Habitats and Species Regulations 2017 
  (Habitats Regulations) provide a very high level of protection to 2 types of 
  designated sites due to their special environment. These are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Special Areas of Conservation (SAC), which contribute to biodiversity 
    by maintaining and restoring habitats and species</li>
  <li>Special Protection Area (SPA), which provides protection to birds and 
    their nests, eggs and habitats</li>
</ul>

<p class="govuk-body">Government policy treats Ramsar sites (internationally 
  important wetland sites) in the same way as SACs and SPAs. Ramsars, 
  SACs and SPAs are referred to collectively as European sites.</p>

<p class="govuk-body">You can use <a href ="https://www.gov.uk/guidance/how-to-access-natural-englands-maps-and-data">Natural England's maps and data</a> to 
  identify these protected areas and assess the likely impacts of your 
  planned abstraction using the water body boundaries and environmental data.</p>

<p class="govuk-body">The Environment Agency are required to consult with 
  Natural England when determining an abstraction or impounding licence 
  within a site designated under either the Habitat's Regulations or 
  Wildlife and Countryside Act 1981 (W&CA).</p>

<p class="govuk-body">We may issue licences in these areas with stricter 
  conditions or even refuse them to make sure these areas protected. 
  For more information see <a href="https://www.gov.uk/guidance/protected-sites-and-areas-how-to-review-planning-applications#types-of-protected-sites-and-areas">types of protected sites and areas</a>.</p>

<p class="govuk-body">If you complete any environmental assessment, 
  you can submit this with your application as supporting information. 
  You may need to hire a consultant or ecologist to help you do this. 
  Please note that you may be asked for additional information or surveys 
  when you apply if we are not satisfied that the risk to these species, 
  habitats and/or sites have been fully considered.</p>    
</div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          2. Ensure you have rights of access
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
    
       <p class="govuk-body">You must have rights of access to the water body at the 
        point where you plan to abstract. This must be valid for at least 12 months 
        from the start date of your licence (unless you only need a temporary licence 
        for less than 12 months).</p>

<p class="govuk-body">We may ask you to provide proof of your rights of access. If 
  you are the occupier, you may need to supply a map showing which land you occupy 
  and the proposed abstraction locations. If you are not the occupier, you may be 
  asked for a copy of the document giving you rights of access, such as a deed of 
  grant, a conveyance, lease, licence or tenancy agreement.</p>

<p class="govuk-body">If you are not sure what rights of access or proof you need, <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">get 
  advice from the Environment Agency</a>. We may have to return your application if you 
  do not have the correct access rights or are unable to provide proof when we ask for it.</p>

    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          3. Check permits and other permissions needed
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">

      <p class="govuk-body">As well as your abstraction licence, you might need 
        other permits and permissions before you can abstract water.</p>

<p class="govuk-body">If you are planning to discharge water to surface water or 
  groundwater, you will probably need an <a href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">environmental permit</a>. Getting an 
  environmental permit can take up to 4 months, so it is essential that you 
  apply soon if it is needed.</p>

<p class="govuk-body">If you are building a new obstruction on a river containing 
  migratory fish or eels, you may also need to organise <a href="https://www.gov.uk/guidance/fish-pass-approval">fish pass approval</a>.</p>

<p class="govuk-body">Some licences also come with conditions on them to 
  protect eels. You can read GOV.UK guidance on <a href="https://www.gov.uk/guidance/safe-passage-for-eels">safe passage for eels</a>, or 
  <a href="https://www.gov.uk/guidance/safe-passage-for-eels#contact">contact the Environment Agency</a> and ask to speak to your local fisheries team for advice.</p>

<p class="govuk-body">Make sure to check if you need a <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">flood risk activity permit</a> 
  for carrying out any proposed works if they are in, or close, to a main river. For 
  works on other watercourses (not on a main river), you should <a href="https://www.gov.uk/permission-work-on-river-flood-sea-defence">check if you need 
  permission to do work on a river, flood defence or sea defence</a>.</p>

<p class="govuk-body">Finally, you may need planning permission, for example 
  if you are building storage. You can get guidance and apply for this by 
  <a href="https://www.gov.uk/find-local-council">contacting your local council in your area</a>.</p>


    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          4. Estimate the volume of water you will need
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">

      <h3 class="govuk-heading-s">Justification of need</h3>
<p class="govuk-body">As part of your licence application, you will need to 
  provide details of how you have worked out the amount of water you need to abstract.</p>

<p class="govuk-body">For example, you can give details of pump capacity by hours 
  run, irrigation depth and number of hectares of crop requiring irrigation, 
  specifications of equipment and processes, or industry recommendations and standards used.</p>

<p class="govuk-body">Tables with estimated volumes for some activities are 
  available together with the <a href="https://www.gov.uk/government/publications/water-abstraction-application-for-a-water-resources-licence">water resources licence application forms</a>.</p>

<p class="govuk-body">We will compare your expected water usage with benchmarks 
  of good practice when making a decision on your licence application.</p>

<h3 class="govuk-heading-s">Water efficiency</h3>
<p class="govuk-body">You will also need to provide details of how you will be 
  using water efficiently.</p>

<p class="govuk-body">For example, checking pipes for leaks, irrigating at 
  night, using accurate irrigation techniques, checking soil moisture 
  deficit, implementing a water management plan and auditing water consumption.</p>

<p class="govuk-body">We will compare this with good practice for your sector.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          5. Check types of licences and charges
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">

      <h3 class="govuk-heading-s">Types of water resources licence</h3>
<p class="govuk-body">There are different types of water resources licences you can apply 
  for. They are:</p>

  <ul class="govuk-list govuk-list--bullet">
  <li>a full abstraction licence - for most types of water abstraction over 20 
    cubic metres a day</li>
  <li>a transfer abstraction licence - to move over 20 cubic metres of water 
    a day from one source to another without intervening use</li>
  <li>a temporary abstraction licence - to abstract more than 20 cubic metres 
    of water a day over a period of less than 28 days</li>
  <li>an impounding licence - to create or alter an impoundment structure 
    such as a sluice, weir or dam</li>
</ul>

<p class="govuk-body">If water levels in your area are usually low over the 
  summer period, you may prefer to apply for a licence for only certain 
  months of the year. Often abstractors will store water for use in the 
  summer. In some cases, this can make a difference to whether your licence 
  application is approved.</p>

  <h3 class="govuk-heading-s">Charges</h3>
  <p class="govuk-body">You must pay an application charge:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>to apply for a new licence</li>
<li>for some changes (variations) to an existing licence</li>
</ul>

<p class="govuk-body">You will also usually need to pay an annual charge 
  (called a 'subsistence' charge) once you hold a full abstraction licence.</p>

<p class="govuk-body">Use the guidance on the <a href="https://www.gov.uk/government/publications/water-resources-licences-when-and-how-you-are-charged">charges for water resources licences</a> to 
  work out your application charge and annual charge.</p>

<p class="govuk-body">You may have to pay additional charges if the 
  Environment Agency need to carry out extra work to determine whether 
  you will be granted a licence. For example, completing conservation 
  assessments or making a comparison between competing abstraction proposals.</p>
    </div>
  </div>

  {% if (data['licenceHolder'] == 'yes' and data['newExisting'] == "existing") %} 
<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          6. Submit your licence variation application
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
    <p class="govuk-body">If you are an existing licence holder, you can apply to the 
  Environmental Agency to make a <a href="https://www.gov.uk/guidance/change-revoke-or-transfer-a-water-abstraction-or-impoundment-licence#how-to-apply-for-a-normal-or-substantial-variation" class="govuk-link">change to your licence</a>, also known as a 'variation'.</p>

<p class="govuk-body">Examples of variations include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>adding or changing an abstraction purpose (use)</li>
  <li>adding or changing an abstraction point</li>
  <li>increasing the volume of water to be abstracted, hourly, daily or annually</li>
  <li>changing a gauging station or observation borehole referred to in a licence condition</li>
  <li>changing the lining in an abstraction borehole referred to in a licence condition</li>
</ul>
<p class="govuk-body">To vary your licence, you will need to use the relevant <a href="https://www.gov.uk/government/publications/water-abstraction-application-for-a-water-resources-licence" class="govuk-link"> 
  water resource application forms and form guidance notes</a>.</p>

<p class="govuk-body">If you do not have an existing licence, or you want to 
  take water from a new abstraction point, <a href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence" class="govuk-link">you can apply for a new abstraction licence</a>.</p>

    </div>
  </div>
{% elseif data['watertype'] == 'surface' and (data['licenceHolder'] == 'no' or data['newExisting'] == "new") %} 
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          6. Submit your application
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">The Environment Agency grants water abstraction licences. 
          When considering whether to grant a licence for your site, 
          we consider other factors such as the flow rate for your 
          local area, how much nearby abstractors are taking, the 
          natural environment and any protected areas.</p>

         <p class="govuk-body">Additional flow data might be needed to determine water 
          availability in your area. You may be asked to submit flow 
          data as part of your licence application. You can pay for an <a href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-a-water-abstraction-or-impounding-licence">enhanced pre-application</a> 
          which will give you more information about whether this is needed and 
          how to gather the data.</p>

         <p class="govuk-body"><a href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence">Apply for a water abstraction licence</a></p>

    </div>
  </div>
   {% elseif data['watertype'] == 'ground' and (data['licenceHolder'] == 'no' or data['newExisting'] == "new") %} 
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          6. Apply for consent to investigate a groundwater source
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
       <p class="govuk-body">A pump test will be needed to determine availability for your 
          specific abstraction point. You must <a href="https://www.gov.uk/government/publications/apply-for-consent-to-investigate-a-groundwater-source/apply-for-consent-to-investigate-a-groundwater-source" class="govuk-link">get consent to investigate the groundwater 
          source</a> if you will abstract 20 cubic metres or more of water a day.</p>
    </div>
  </div>
{% endif %}
</div>

    </div>
  </div>

{% endblock %}
