{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ "What is the licence number for your existing abstraction point?" }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <p class="govuk-body">
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is the licence number for your existing abstraction point?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "licence-number",
  name: "licenceNumber"
}) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
