{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">
     
       <!-- <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
             What's the national grid reference for the site?
            </label>
          </h1>
          <div id="grid-ref-hint" class="govuk-hint">
               For example, SE 05246 70347
          </div>
         </div> -->


{{ govukInput({
  label: {
    text: "What's the national grid reference for the site?",
    classes: "govuk-label--l govuk-input--width-14",
    isPageHeading: true
  },
  hint: {
    text: "For example, SE 05246 70347"
  },
  name: "gridRef"
}) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
