{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "Other options and next steps" }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Other options and next steps</h1>
{% if (data['nowater'] == "true") %} 
<p class="govuk-body">Learn more about your options are for sourcing water. Read further details by selecting from the sections below.</p>
{% else %}
 <p class="govuk-body">Learn more about applying for a licence and 
      what your other options are for sourcing water. Read further details by 
      selecting from the sections below.</p>
{% endif %}

   
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
  
  {% if (data['nowater'] == "false") %} 
  <div class="govuk-accordion__section--expanded">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          Applying for a licence
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Find out how to apply for a licence.
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
      
        <p class="govuk-body">The Environment Agency grants water abstraction licences. 
          When considering whether to grant a licence for your site, 
          we consider other factors such as the flow rate for your 
          local area, how much nearby abstractors are taking, the 
          natural environment and any protected areas.</p>

         <p class="govuk-body">Additional flow data might be needed to determine water 
          availability in your area. You may be asked to submit flow 
          data as part of your licence application. Completing an 
          enhanced pre-application will give you more information 
          about whether this is needed.</p>

         <p class="govuk-body"><a href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence">Apply for a water abstraction licence</a></p>

 <p class="govuk-body"><a href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-a-water-abstraction-or-impounding-licence">Get advice before you apply</a></p>

    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          Trading abstraction rights
        </span>
      </h2>
     <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        It can sometimes be quicker and easier to source water by entering an agreement 
        with an local licence holder. When water availability is low the existing 
        abstractor can give up some of their rights to abstract.
      </div>-->
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content">

         <p class="govuk-body">If you only need water for a short period of time, 
          instead of applying for a licence which can take a while 
          to process, you may be able to enter into an agreement 
          with an existing licence holder.</p>

         <p class="govuk-body">You can agree for them to give you part or all of their water 
          abstraction rights permanently or temporarily. This is called 
          the <a href="">trading of water abstraction rights</a>. Trades need approval 
          by the Environment Agency to protect the environment 
          and the rights of other lawful water users.</p>

         <p class="govuk-body">Find local abstractors to trade with using the map on 
          <a href="">DEFRA's Help for Water Rights Trading Data</a> platform.</p>

    </div>
  </div>
{% else %}

{% endif %}

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Building a reservoir
        </span>
      </h2>
     <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        This is a common option if water availability is scarce over summer, 
        but it is most suited to long-term use and requires up-front investment.
      </div>-->
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">

         <p class="govuk-body">If local water availability is low over summer and higher over winter, 
         building a reservoir is one option to ensure a more consistent water 
         supply. Read the <a class="govuk-link" href="#">guide to planning, designing, 
          constructing and commissioning a water storage reservoir</a> for more information.</p>

         <p class="govuk-body"><a class="govuk-link" href="#">Local Resource Option (LRO)</a> is a water resource solution designed to 
          enhance water resilience or supply for a small group of abstractors within their 
          area. Owned, operated, and managed by the abstractors themselves. 
          LROs range from infrastructure projects like reservoirs and rainwater 
          harvesting systems to collaborative solutions such as water sharing 
          agreements or licence pooling.</p>
    </div>
  </div>

   <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Water recycling and efficiency
        </span>
      </h2>
     <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        Learn more about recycling and saving water, which can be a good solution when licencing is limited and also helps protect the environment.
      </div>-->
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
         <p class="govuk-body">The Environment Agency believes <a class="govuk-link" href="#">water recycling</a> can play an 
          effective and increasingly important role in securing water 
          supplies. Indirect recycling treats wastewater and discharges 
          it to an environmental buffer, such as a river, reservoir or 
          underground aquifer. Water can then be abstracted and treated further.</p>

 <p class="govuk-body">Increasing water efficiency is also encouraged when local water 
  availability is low. Smart irrigation scheduling, reducing leakages 
  and reusing water for wash down are all options to save water. 
  <a class="govuk-link" href="#">Waterwise</a> offer tips and information on water 
  efficiency and conservation.</p>
    </div>
  </div>


  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Water supply agreements
        </span>
      </h2>
    <!--  <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        Arranging a contract for bulk water supply with a local water company 
        is another common option for those looking to abstract smaller amounts, 
        or when licencing is limited.
      </div>-->
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
         <p class="govuk-body">You may be able to arrange a favourable <a class="govuk-link" href="#">bulk water supply agreement</a> 
          from your local water company. Read more about bulk water supply 
          agreements on the Ofwat website, and look up your <a class="govuk-link" href="#">local supplier</a> 
          on the Water UK website.</p>
    </div>
  </div>


  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Rainwater collection and storage
        </span>
      </h2>
    <!--  <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        Harvesting rainwater is efficient and you may not need a licence depending on the environmental impact. 
        This can be a viable option for water stressed areas.
      </div>-->
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">

         <p class="govuk-body">Rainwater harvesting is an efficient way to use water.</p>
         <p class="govuk-body">Harvested rainwater is rainwater:</p>
<ul class="govuk-list govuk-list--bullet">
<li>collected from roofs and other above ground surfaces</li>
<li>collected via a system of above ground pipes and tanks</li>
<li>isolated from inland waters or groundwater</li>
</ul>

 <p class="govuk-body">The Environment Agency will not regulate harvested rainwater 
  provided its use does not harm the environment - either alone 
  or combined with other abstractions or transfers. Rainwater 
  harvesting within a catchment must not affect the normal watercourse flow.</p>

 <p class="govuk-body">Learn more about rainwater harvesting and regulation in the 
  <a class="govuk-link" href="#">Environment Agency's Rainwater harvesting: regulatory position statement</a>.</p>

    </div>
  </div>


  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
          Desalination
        </span>
      </h2>
   <!--   <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
        Learn more about this technique which removes salts and chemicals from surface or 
        groundwater but is energy intensive and needs careful waste management.
      </div>-->
    </div>
    <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content">
         <p class="govuk-body">Desalination is the treatment of brackish (slightly salty water 
          from river estuaries) or seawater to remove dissolved salts and 
          other organic chemicals to provide a source of fresh water. 
          After treatment, this can be suitable for drinking.</p>

         <p class="govuk-body">It is a more expensive and complicated option to implement 
          but is being used successfully in other countries and becoming more popular.</p>

         <p class="govuk-body">For further information, take a look at the <a class="govuk-link" href="#">Environment Agency 
          position statement on desalination for public water supply</a>.</p>
    </div>
  </div>
</div>


    </div>
  </div>

{% endblock %}
