{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "Set prototype variables to see different outcomes" }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Set prototype variables to see different outcomes
      </h1>

      <form class="form" method="post">

        {{ govukRadios({
          name: "availability",
          value: data['availability'],
          fieldset: {
            legend: {
              text: "What water do you want to be available for this scenario?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "both",
              text: "Both surface and ground water"
            },
            {
              value: "surface",
              text: "Surface water only"
            },
            {
              value: "ground",
              text: "Groundwater only"
            }, 
            {
              value: "neither",
              text: "No water available"
            }
            
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}
