{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "Your local water availability summary" }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


{% set tagsnowaterHTML %}

{{ govukTag({
  text: "Water not available",
  classes: "govuk-tag--red"
}) }}

{% endset %}


{% set tagsrestrictedHTML %}
{{ govukTag({
  text: "Restricted",
  classes: "govuk-tag--yellow"
}) }}

{% endset %}

{% set tagsgoodHTML %}

{{ govukTag({
  text: "Good availability",
  classes: "govuk-tag--green"
}) }}

{% endset %}

<h1 class="govuk-heading-l">Your local water availability summary</h1>
 <p class="govuk-body">This page shows a summary with an overall indication of water 
  availability for your local area.</p>

  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Availability statuses explained
    </span>
  </summary>
  <div class="govuk-details__text">
  {{ govukTable({
  rows: [
    
    [
      {
         html: tagsgoodHTML,
          classes: "govuk-!-width-one-half"
      },
       {
        text: "There is more water than required to meet the needs of the environment.
New licences can be considered depending on local and downstream impacts.",
        classes: "govuk-!-width-one-half" 
      }    
    ],
    [
      {
         html: tagsrestrictedHTML,
          classes: "govuk-!-width-one-half"
      },
       {
        text: "Some licences are available. Water abstraction in this area is limited due to low flows and/or environment concerns.",
        classes: "govuk-!-width-one-half" 
      }   
    ],
    [
      {
         html: tagsnowaterHTML,
          classes: "govuk-!-width-one-half"
      },
       {
        text: "No water is available for new licences due to low flows, environmental concerns and/or too many existing abstractors in the area. Existing licences are restricted, however there may be opportunities to trade water with existing abstractors.",
        classes: "govuk-!-width-one-half" 
      }   
    ]
   
  ]
}) }}
  </div>
</details>
 
<div class="govuk-body">
  <h2 class="govuk-heading-m">Your surface water availability</h2>

  <p class="govuk-body">The 
  
  {% if (data['location'] == "gridRef") %}
        national grid reference
{% elseif (data['location'] == "fieldParcel") %}
    field parcel
{% elseif (data['location'] == "postCode") %}
    postcode
      {% endif %}
      
      you have provided covers multiple surface water 
  bodies. Choose from the options below to view a full availability 
  report for each water body.</p>


{% if data.riverCatchmentData.length %}
{% for waterBody in data.riverCatchmentData%}
 
  {% if loop.index0 == 0 %} 
      <h3 class="govuk-heading-s"><a href="detailed-results?nowater=false">{{waterBody.properties.WB_NAME}}</a> in the {{waterBody.properties.OPCAT_NAME}} catchment</h3>
  
  <p class="govuk-body">Distance from the centre of your {% if (data['location'] == "gridRef") %}
        national grid reference
{% elseif (data['location'] == "fieldParcel") %}
    field parcel
{% elseif (data['location'] == "postCode") %}
    postcode
      {% endif %}
      : 0 metres</p>

      <p class="govuk-body">Summer: {{tagsrestrictedHTML | safe}}</p>   
   <p class="govuk-body">Winter: {{tagsgoodHTML | safe}}</p> 
  <hr>
   {% elif loop.index0 == 1 %}

      <h3 class="govuk-heading-s"><a href="detailed-results?nowater=true">{{waterBody.properties.WB_NAME}}</a> in the {{waterBody.properties.OPCAT_NAME}} catchment</h3>
 
    <p class="govuk-body">Distance from the centre of your {% if (data['location'] == "gridRef") %}
        national grid reference
{% elseif (data['location'] == "fieldParcel") %}
    field parcel
{% elseif (data['location'] == "postCode") %}
    postcode
      {% endif %}
      : 96 metres</p>

      <p class="govuk-body">Summer: {{tagsgoodHTML | safe}}</p>   
   <p class="govuk-body">Winter: {{tagsgoodHTML | safe}}</p> 
   <hr>
   {% else %}

      <h3 class="govuk-heading-s"><a href="detailed-results?nowater=false">{{waterBody.properties.WB_NAME}}</a> in the {{waterBody.properties.OPCAT_NAME}} catchment</h3>
 
 <p class="govuk-body">Distance from the centre of your {% if (data['location'] == "gridRef") %}
        national grid reference
{% elseif (data['location'] == "fieldParcel") %}
    field parcel
{% elseif (data['location'] == "postCode") %}
    postcode
      {% endif %}
      : 323 metres</p>
      
      <p class="govuk-body">Summer: {{tagsnowaterHTML | safe}}</p>   
   <p class="govuk-body">Winter: {{tagsnowaterHTML | safe}}</p> 
     <hr>
   {% endif %}

{% endfor %}
{% else %}
<p class="govuk-body">Surface water body not modelled for this area</p>
{% endif %}
</div>


<div class="govuk-body">
<h2 class="govuk-heading-m">Your groundwater availability</h2>
  <p class="govuk-body">The 
  
  {% if (data['location'] == "gridRef") %}
        national grid reference
{% elseif (data['location'] == "fieldParcel") %}
    field parcel
{% elseif (data['location'] == "postCode") %}
    postcode
      {% endif %}
      
      you have provided covers multiple groundwater 
  bodies. Choose from the options below to view a full availability 
  report for each groundwater body.</p>
  
  {% if data.groundwaterCatchmentData.length %}
{% for waterBody in data.groundwaterCatchmentData%}
  <h3 class="govuk-heading-s"><a href="detailed-results?nowater=false">{{waterBody.properties.WB_NAME}}</a> in the {{waterBody.properties.MNCAT_NAME}} catchment</h3>
   <p class="govuk-body">Summer: {{tagsrestrictedHTML | safe}}</p>   
   <p class="govuk-body">Winter: {{tagsgoodHTML | safe}}</p> 

  <hr>
{% endfor %}
{% else %}
<p class="govuk-body">Groundwater body not modelled for this area</p>
{% endif %}
</div>

{% endblock %}
