{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

<!-- {% block pageTitle %}
  {{ serviceName }}
{% endblock %} -->

{% block content %}

<p class="govuk-body">Please do not press Continue until your researcher tells you to.</p>

{% set htmlButton1 %}
{{ govukButton({
  text: "Continue",
  href: "start?availability=both"
}) }}
{% endset %}

{% set htmlButton2 %}
{{ govukButton({
  text: "Continue",
  href: "start?availability=both"
}) }}
{% endset %}

{{ govukAccordion({
  id: "accordion-default",
  rememberExpanded: false,
  items: [
    {
      
      heading: {
        text: "Participant 1"
      },
      content: {
        html: '<p class="govuk-body">You need water for your business and you started doing some research online and reached the following page. Please can you use the following neighbouring postcode to you: BA7 7NJ.</p>'   
       +htmlButton1
              }
  
    },

    {
      
      heading: {
        text: "Participant 2"
      },
      content: {
        html: '<p class="govuk-body">You need water for your business and you started doing some research online and reached the following page.</p>'   
       +htmlButton1
              }
  
    },

    {
      
      heading: {
        text: "Participant 3"
      },
      content: {
        html: '<p class="govuk-body">You need water for your business and you started doing some research online and reached the following page.</p>'   
       +htmlButton1
              }
  
    },
    {
      
      heading: {
        text: "Participant 4"
      },
      content: {
        html: '<p class="govuk-body">You need water for your business and you started doing some research online and reached the following page. Please can you use the following neighbouring postcode to you: SN4 9NW.</p>'   
       +htmlButton1
              }
  
    },

    {
      heading: {
        text: "Participant 5"
      },
      content: {
        html: '<p class="govuk-body">You need water for your business and you started doing some research online and reached the following page. Please can you use the following neighbouring postcode to you: BN27 4HG.</p>'   
    +htmlButton2
             }
    }
   
  ]
}) }}


{% endblock %}
