{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

<!-- {% block pageTitle %}
  {{ serviceName }}
{% endblock %} -->

{% block content %}

<h1 class="govuk-heading-l">Participant information</h1>

<p class="govuk-body"><b>Please do not press Continue until your researcher tells you to.</b></p>



<p class="govuk-body">A client of yours is a farmer who grows potatoes. They are looking to expand their business to a new location where they will also grow potatoes. The proposed location is S11 7GD, which is 50 miles from their current site.</p>
<p class="govuk-body">They already have a water abstraction licence for their existing site. Their main use for the water is spray irrigation and this is what they will need at their new site as well.</p>
<p class="govuk-body">Assume the business will abstract surface water.</p>
<p class="govuk-body">You would like to determine the availability of water for licensing for their new site, so you can advise them.</p>


              {{ govukButton({
  text: "Continue",
  href: "start"
}) }}

{% endblock %}
 