{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     <form class="form" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  id: "water-use",
  name: "usage-energy",
  value: data['usage-energy'],
  fieldset: {
    legend: {
      text: "Cooling, heating and energy systems",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
     
    }
  },
  items: [

     {
      value: "Evaporative cooling",
      text: "Evaporative cooling"
    },
     {
      value: "Heat pump",
      text: "Heat pump"
    },
     {
      value: "Hydroelectric power generation",
      text: "Hydroelectric power generation"
    },
     {
      value: "Milling and water power other than generating electricity",
      text: "Milling and water power other than generating electricity"
    },
     {
      value: "Non-evaporative cooling",
      text: "Non-evaporative cooling"
    },
     {
      value: "Water wheels not used for power",
      text: "Water wheels not used for power"
    }
  ]
}) }}    


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
