{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "What do you want to use the water for?" }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <form class="form" method="post">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="water-use">
      What do you want to use the water for?
    </label>
  </h1>

  <div id="category-hint" class="govuk-hint">
     Start typing your reason for abstracting below
    </div>
      

  <select class="govuk-select" id="water-use" name="water-use"
    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
    <option value="" selected disabled>Choose your reason for needing water</option>
  <option value="hydraulic-fracturing-fracking">Hydraulic Fracturing (Fracking)</option>
  <option value="dust-suppression">Dust Suppression</option>
  <option value="evaporative-cooling">Evaporative Cooling</option>
   <option value="make-up-top-up-water">Make-Up Or Top Up Water</option>
  <option value="spray-irrigation-direct">Spray Irrigation - Direct</option>
  <option value="spray-irrigation-definition-order">Spray Irrigation - undercover or containers</option>
  <option value="spray-irrigation-storage">Spray Irrigation - Storage</option>
  <option value="trickle-irrigation-direct">Trickle Irrigation - Direct</option>
  <option value="trickle-irrigation-under-cover-containers">Trickle Irrigation - Under Cover/Containers</option>
  <option value="trickle-irrigation-storage">Trickle Irrigation - Storage</option>
  <option value="animal-watering-non-farming">Animal Watering & General Use In Non Farming Situations</option>
  <option value="boiler-feed">Boiler Feed</option>
  <option value="conveying-materials">Conveying Materials</option>
  <option value="drinking-etc-commercial">Drinking, Cooking, Sanitary, Washing, (Small Garden) - Commercial/Industrial/Public Services</option>
  <option value="general-process-washing">General Washing/Process Washing</option>
  <option value="drinking-etc-household">Drinking, Cooking, Sanitary, Washing, (Small Garden) - Household</option>
  <option value="gas-suppression-scrubbing">Gas Suppression/Scrubbing</option>
  <option value="general-farming-domestic">General Farming & Domestic</option>
  <option value="general-use-secondary-category-medium-loss">General Use Relating To Secondary Category (Medium Loss)</option>
  <option value="horticultural-watering">Horticultural Watering</option>
  <option value="large-garden-watering">Large Garden Watering</option>
  <option value="laundry-use">Laundry Use</option>
  <option value="potable-supply-direct">Potable Water Supply - Direct</option>
  <option value="potable-supply-storage">Potable Water Supply - Storage</option>
  <option value="process-water">Process Water</option>
  <option value="raw-water-supply">Raw Water Supply</option>
  <option value="spray-irrigation-anti-frost">Spray Irrigation - Anti Frost</option>
  <option value="spray-irrigation-anti-frost-storage">Spray Irrigation - Anti Frost Storage</option>
  <option value="water-bottling">Water Bottling</option>
  <option value="general-cooling-existing-licences-only-low-loss">General Cooling (Existing Licences Only) (Low Loss)</option>
  <option value="general-use-secondary-category-low-loss">General Use Relating To Secondary Category (Low Loss)</option>
  <option value="mineral-washing">Mineral Washing</option>
  <option value="non-evaporative-cooling">Non-Evaporative Cooling</option>
  <option value="vegetable-washing">Vegetable Washing</option>
  <option value="dewatering">Dewatering</option>
  <option value="wet-fencing-agriculture">Wet Fencing and Agriculture</option>
  <option value="effluent-slurry-dilution">Effluent/Slurry Dilution</option>
  <option value="fish-farm-cress-pond-throughflow">Fish Farm/Cress Pond Throughflow</option>
  <option value="fish-pass-canoe-pass">Fish Pass/Canoe Pass</option>
  <option value="general-use-secondary-category-very-low-loss">General Use Relating To Secondary Category (Very Low Loss)</option>
  <option value="heat-pump">Heat Pump</option>
  <option value="hydraulic-rams">Hydraulic Rams</option>
  <option value="hydraulic-testing">Hydraulic Testing</option>
  <option value="hydroelectric-power-generation">Hydroelectric Power Generation</option>
  <option value="lake-pond-throughflow">Lake & Pond Throughflow</option>
  <option value="milling-water-power-non-electric">Milling & Water Power Other Than Electricity Generation</option>
  <option value="pollution-remediation">Pollution Remediation</option>
  <option value="river-recirculation">River Recirculation</option>
  <option value="supply-to-canal-throughflow">Canal Throughflow</option>
  <option value="supply-to-leat-throughflow">Leat Throughflow</option>
  <option value="transfer-between-sources-pre-2003">Transfer Between Sources (Pre Water Act 2003)</option>
  <option value="water-wheels-not-used-for-power">Water Wheels Not Used For Power</option>
  <option value="flood-irrigation-water-meadows-warping">Flood Irrigation, Including Water Meadows, Warping And Pest Control</option>
  <option value="wet-fencing-nature-conservation">Wet Fencing And Nature Conservation</option>
  <option value="transfer-between-sources-post-2003">Transfer Between Sources (Post Water Act 2003)</option>
  <option value="impounding-excluding-hep">Impounding (for any purpose excluding impounding for HEP)</option>
  </select>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
