{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <form class="form" method="post">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="usage">
      Why do you need to abstract water?
    </label>
  </h1>

  <div id="category-hint" class="govuk-hint">
     Describe what you need the water for
    </div>
      

  <select class="govuk-select" id="usage" name="usage"
    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
    <option value="" selected disabled>Choose your reason for needing water</option>
    <option value="x">Animal watering and welfare</option>
    <option value="x">Boiler feed</option>
    <option value="x">Canal throughflow</option>
    <option value="x">Canoe pass</option>
    <option value="x">Conveying materials</option>
    <option value="x">Creating and maintaining water meadows</option>
    <option value="x">Cress pond throughflow</option>
    <option value="x">Dewatering</option>
    <option value="x">Domestic purposes (commercial)</option>
    <option value="x">Domestic purposes (non-commercial)</option>
    <option value="x">Dust suppression</option>
    <option value="x">Effluent or slurry dilution</option>
    <option value="x">Evaporative cooling</option>
    <option value="x">Fish farm throughflow</option>
    <option value="x">Fish pass</option>
    <option value="x">Flood irrigation not including warping and pest control</option>
    <option value="x">Flood irrigation (pest control)</option>
    <option value="x">Flood irrigation (warping)</option>
    <option value="x">Gas suppression or scrubbing</option>
    <option value="x">General farming (except irrigation)</option>
    <option value="x">General farming (except irrigation) and domestic</option>
    <option value="x">General or process washing</option>
    <option value="x">Heat pump</option>
    <option value="x">Horticultural irrigation (except spray and trickle irrigation)</option>
    <option value="x">Horticultural watering</option>
    <option value="x">Hydraulic fracturing (Fracking)</option>
    <option value="x">Hydraulic rams</option>
    <option value="x">Hydraulic testing</option>
    <option value="x">Hydroelectric power generation</option>
    <option value="x">Impounding (hydropower)</option>
    <option value="x">Impounding (non-hydropower)</option>
    <option value="x">Lake or pond throughflow</option>
    <option value="x">Laundry use</option>
    <option value="x">Leat throughflow</option>
    <option value="x">Make-up or top-up water</option>
    <option value="x">Milling and water power other than generating electricity</option>
    <option value="x">Mineral washing</option>
    <option value="x">Nature conservation</option>
    <option value="x">Non-evaporative cooling</option>
    <option value="x">Ornamental garden watering (not irrigation)</option>
    <option value="x">Pollution remediation</option>
    <option value="x">Potable water supply - direct</option>
    <option value="x">Potable water supply - storage</option>
    <option value="x">Process water</option>
    <option value="x">Public water supply</option>
    <option value="x">Raw water supply to third party</option>
    <option value="x">River recirculation</option>
    <option value="x">Spray irrigation - anti-frost (direct)</option>
    <option value="x">Spray irrigation - anti-frost (storage)</option>
    <option value="x">Spray irrigation - direct</option>
    <option value="x">Spray irrigation - storage</option>
    <option value="x">Spray irrigation - undercover or containers</option>
    <option value="x">Transfer between sources (hydropower)</option>
    <option value="x">Transfer between sources (Post Water Act 2003)</option>
    <option value="x">Trickle irrigation - direct</option>
    <option value="x">Trickle irrigation - storage</option>
    <option value="x">Trickle irrigation - under cover or containers</option>
    <option value="x">Vegetable washing</option>
    <option value="x">Water bottling</option>
    <option value="x">Water wheels not used for power</option>
    <option value="x">Wet fencing</option>

  </select>
</div>



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
