{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "What do you want to use the water for?" }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

   <div class="govuk-form-group">
  <label class="govuk-label govuk-label--l" for="water-use">
    What do you want to use the water for?
  </label>

  <select class="govuk-select" id="water-use" name="water_use">
    <option value="">Select an option</option>
    <option value="animal-watering-and-welfare">Animal watering and welfare</option>
    <option value="boiler-feed">Boiler feed</option>
    <option value="conveying-materials">Conveying materials</option>
    <option value="domestic-purposes-commercial">Domestic purposes (commercial)</option>
    <option value="domestic-purposes-non-commercial">Domestic purposes (non-commercial)</option>
    <option value="dust-suppression">Dust suppression</option>
    <option value="evaporative-cooling">Evaporative cooling</option>
    <option value="gas-suppression-or-scrubbing">Gas suppression or scrubbing</option>
    <option value="general-farming-except-irrigation-and-domestic">General farming (except irrigation) and domestic</option>
    <option value="general-or-process-washing">General or process washing</option>
    <option value="general-washing-down">General washing down</option>
    <option value="heat-transfer">Heat transfer</option>
    <option value="horticulture">Horticulture</option>
    <option value="hydraulic-testing">Hydraulic testing</option>
    <option value="hydrostatic-testing">Hydrostatic testing</option>
    <option value="industrial-farming">Industrial farming</option>
    <option value="irrigation">Irrigation</option>
    <option value="land-drainage">Land drainage</option>
    <option value="landfill-leachate-suppression">Landfill leachate suppression</option>
    <option value="laundering">Laundering</option>
    <option value="mains-flushing">Mains flushing</option>
    <option value="mine-dewatering">Mine dewatering</option>
    <option value="mineral-washing">Mineral washing</option>
    <option value="non-potable-public-water-supply">Non potable public water supply</option>
    <option value="other-consumptive">Other (consumptive)</option>
    <option value="other-non-consumptive">Other (non consumptive)</option>
    <option value="paper-making">Paper making</option>
    <option value="portable-public-water-supply">Portable public water supply</option>
    <option value="power-station">Power station</option>
    <option value="process-water">Process water</option>
    <option value="public-water-supply">Public water supply</option>
    <option value="quenching">Quenching</option>
    <option value="rainwater-harvesting">Rainwater harvesting</option>
    <option value="refrigeration-and-air-conditioning">Refrigeration and air conditioning</option>
    <option value="reservoir-augmentation">Reservoir augmentation</option>
    <option value="sewer-flushing">Sewer flushing</option>
    <option value="slurry-making">Slurry making</option>
    <option value="spray-irrigation">Spray irrigation</option>
    <option value="steam-raising">Steam raising</option>
    <option value="suppression">Suppression</option>
    <option value="sweeping">Sweeping</option>
    <option value="tanker-loading">Tanker loading</option>
    <option value="temperature-control">Temperature control</option>
    <option value="transfer-between-sources-consumptive">Transfer between sources (consumptive)</option>
    <option value="transfer-between-sources-hydropower">Transfer between sources (hydropower)</option>
    <option value="vegetable-washing">Vegetable washing</option>
    <option value="water-wheels-not-used-for-power">Water wheels not used for power</option>
    <option value="wet-fencing">Wet fencing</option>
    <option value="nature-conservation">Nature conservation</option>
  </select>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
