{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     <form class="form" method="post">

        <p>
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "usage-category",
  value: data['usage-category'],
  fieldset: {
    legend: {
      text: "What general purpose do you want to abstract water for?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
     
    }
  },
  items: [
    {
      value: "farming",
      text: "Farming & Livestock"
    },
    {
      value: "irrigation",
      text: "Irrigation (Crops, Gardens, Horticulture)"
    },
     {
      value: "industrial",
      text: "Industrial & Commercial"
    },
     {
      value: "energy",
      text: "Cooling & Energy Systems"
    },
     {
      value: "domestic",
      text: "Domestic & Public Supply"
    },
     {
      value: "environmental",
      text: "Aquatic & Environmental"
    },
     {
      value: "construction",
      text: "Construction & Engineering"
    },
    {
      value: "storage",
      text: "Water Transfer & Storage"
    },
    {
      value: "legacy",
      text: "Other / Legacy"
    }
  ]
}) }}    

        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
