{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">


<!-- {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %} -->

{% set gridrefHtml %}
{{ govukInput({
  id: "gridRef",
  name: "gridRef",
  classes: "govuk-input--width-20",
  hint: {
    text: "For example, SE 05246 70347"
  }
}) }}
{% endset -%}

{% set fieldparcelHtml %}
{{ govukInput({
  id: "fieldParcel",
  name: "fieldParcel",
  classes: "govuk-input--width-10",
  hint: {
    text: "These can usually be found in your Rural Payment Agency account - for example, OS1234 5678"
  }
}) }}
{% endset -%}



{{ govukRadios({
  name: "location",
  fieldset: {
    legend: {
      text: "Where do you need water?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  hint: {
    text: "We will check if there is any water available to abstract for your chosen location."
  },

  items: [
    {
      value: "gridRef",
      text: "National grid reference",
      
      conditional: {
        html: gridrefHtml
      }
    },
    {
      value: "fieldParcel",
      text: "Field parcel",
      conditional: {
        html: fieldparcelHtml
      }
    }
   
  ]
}) }}        

<!--{{ govukInput({
  label: {
    text: "What's the national grid reference for the site?",
    classes: "govuk-label--l govuk-input--width-14",
    isPageHeading: true
  },
  hint: {
    text: "For example, SE 05246 70347"
  },
  name: "gridRef"
}) }} -->



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
