{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

   <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Alpha</caption>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Round number</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Design history</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">

     
 <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./current/start" class="govuk-link">Current</a>
         <br>
          <a href="./current/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">09 Feb - ?? 2026</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A6</td>
    </tr>


     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-5/start" class="govuk-link">A5</a>
         <br>
          <a href="./sprint-5/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">07 Jan - 06 Feb 2026</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A5</td>
    </tr>

    

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-4/set-variables" class="govuk-link">A4</a>
         <br>
          <a href="./sprint-4/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">08 - 19 Dec 2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A4</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-3/set-variables" class="govuk-link">A3</a>
         <br>
         <a href="./sprint-3/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">01 Nov - 05 Dec 2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A3</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-2/set-variables" class="govuk-link">A2</a>
         <br>
         <a href="./sprint-2/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">06 - 23 Oct 2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A2</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
             
       <a href="./sprint-1/set-variables" class="govuk-link">A1</a>
        <br>
        <a href="./sprint-1/ur" class="govuk-link">Usability testing</a>
         <br>
       </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">18 - 30 Sept 2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A1</td>
    </tr>

  </tbody>
</table>

    <h2 class="govuk-heading-m">
          UCD team
    </h2>

    <p class="govuk-body">Cath Jones, Interaction Designer, <a href="mailto:cath.jones@environmentagency.gov.uk">cath.jones@environmentagency.gov.uk</a></p>
    <p class="govuk-body">David Miller, User Researcher, <a href="mailto:david.miller@environmentagency.gov.uk">david.miller@environmentagency.gov.uk</a></p>
    <p class="govuk-body">Louise Duffell, Content Designer, <a href="mailto:louise.duffell@environmentagency.gov.uk">louise.duffell@environmentagency.gov.uk</a></p>
    <p class="govuk-body">Chris Barrett, Service Designer, <a href="mailto:chris.barrett@environmentagency.gov.uk">chris.barrett@environmentagency.gov.uk</a></p>

   <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
