{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

   <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Alpha</caption>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Round number</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Design history</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./current/start" class="govuk-link">Current</a>
         <br>
          <a href="./current/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">20 Mar - Alpha Assessment</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A8</td>
    </tr>

     
 <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-6/start" class="govuk-link">A6 and A7</a>
         <br>
          <a href="./sprint-6/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">09 Feb - 20 Mar 26</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A6 and A7</td>
    </tr>


     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-5/start" class="govuk-link">A5</a>
         <br>
          <a href="./sprint-5/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">07 Jan - 06 Feb 26</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A5</td>
    </tr>

    

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-4/set-variables" class="govuk-link">A4</a>
         <br>
          <a href="./sprint-4/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">08 - 19 Dec 25</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A4</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-3/set-variables" class="govuk-link">A3</a>
         <br>
         <a href="./sprint-3/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">01 Nov - 05 Dec 25</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A3</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
       
         <a href="./sprint-2/set-variables" class="govuk-link">A2</a>
         <br>
         <a href="./sprint-2/ur" class="govuk-link">Usability testing</a>
      </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">06 - 23 Oct 25</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A2</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
             
       <a href="./sprint-1/set-variables" class="govuk-link">A1</a>
        <br>
        <a href="./sprint-1/ur" class="govuk-link">Usability testing</a>
         <br>
       </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">18 - 30 Sep 25</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">A1</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
             
       <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1758619117130/3ca0382ac1eb8911fb97c2c1f70648bdb6f7a17a" class="govuk-link">User research: all rounds</a>
        
       </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 25 - 20 Mar 26</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Mural board</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">
             
       <a href="https://eaflood.atlassian.net/issues?jql=project%20%3D%20WRWA%20and%20statusCategory%20%3D%20Done%20and%20assignee%20%3D%20currentUser()%0AORDER%20BY%20created%20ASC%2C%20updated%20ASC%2C%20assignee%20ASC&referrer=agility" class="govuk-link">Design tickets</a>
        
       </td>

      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 25 - 20 Mar 26</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">JIRA design tickets history</td>
    </tr>

  </tbody>
</table>



    <h2 class="govuk-heading-m">
          UCD team
    </h2>

    <p class="govuk-body">Cath Jones, Interaction Designer, <a href="mailto:cath.jones@environment-agency.gov.uk">cath.jones@environment-agency.gov.uk</a></p>
    <p class="govuk-body">David Miller, User Researcher, <a href="mailto:david.miller@environment-agency.gov.uk">david.miller@environment-agency.gov.uk</a></p>
    <p class="govuk-body">Louise Duffell, Content Designer, <a href="mailto:louise.duffell@environment-agency.gov.uk">louise.duffell@environment-agency.gov.uk</a></p>
    <p class="govuk-body">Chris Barrett, Service Designer, <a href="mailto:chris.barrett@defra.gov.uk">chris.barrett@defra.gov.uk</a></p>

   <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
