{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/do-you-know-volume" method="post">
     
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
             What's the national grid reference for the site?
            </label>
          </h1>
          <div id="grid-ref-hint" class="govuk-hint">
               For example, SE 05246 70347
           </div>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
        </div>


   <!--   <p class="govuk-body">
         <a href="#" class="govuk-link">Find a national grid reference</a>
      </p> -->

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>



     <!-- <form class="form" action="/location-selection-answer" method="post">

        {{ govukRadios({
          name: "location-selection",
          value: data['location-selection'],
          fieldset: {
            legend: {
              text: "Where's the site you need to abstract water for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "grid-ref",
              text: "Enter a national grid reference"
            },
            {
              value: "map",
              text: "Locate the site on a map"
            }
            
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form> -->

    </div>
  </div>

{% endblock %}
