{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Set prototype variables to see different outcomes
      </h1>

      <form class="form" action="/start" method="post">

        {{ govukRadios({
          name: "availability",
          value: data['availability'],
          fieldset: {
            legend: {
              text: "Do you want water to be available for this scenario?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
            
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}
