{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Alpha: {{ serviceName }}
  </h1>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Round</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Scenarios</th>
      <th scope="col" class="govuk-table__header">Date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--text">Version 1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="start?availability=yes">Scenario 1</a><br><a href="start?availability=no">Scenario 2</a></td>
      <td class="govuk-table__cell govuk-table__cell--numeric">xx September - xx September 2025</td>
    </tr>
  </tbody>
</table>

 <h1 class="govuk-heading-m">
        Team
      </h1>
  
  <p class="govuk-body">
    <a href="mailto:david.miller@environment-agency.gov.uk" class="govuk-link">David Miller</a>
  </p>

{% endblock %}
