{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <form class="form" action="/results" method="post">

{{ govukInput({
  label: {
    text: "How many cubic metres of water a day do you want to abstract?",
    classes: "govuk-label--l govuk-input--width-14",
    isPageHeading: true
  },
  
  suffix: {
    text: "cubic metres a day"
  },

  name: "vol"
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}
