{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ "How to apply: step by step" }}
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}



{% block containerStart %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

 <!--  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{% if (data['waterbodyMatch'] == 'yes') %}
    <h1 class="govuk-heading-l">
      Changing your licence: step by step
    </h1>
{% else %}
     <h1 class="govuk-heading-l">
      How to apply: step by step
    </h1>
{% endif %}

{% if (data['waterbodyMatch'] == 'yes') %}
       <p class="govuk-body">Before submitting an application to change your 
        licence, you will need to:</p>
{% else %}
     <p>Before submitting an application for a licence, you will need to:</p>
{% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
      <ol class="app-step-nav__steps">

{% if (data['waterbodyMatch'] == 'yes') %}
{% else %}            
        <li class="app-step-nav__step js-step" id="designated-site">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check if you're in or impacting a designated site
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-designated-site-1">
            <p class="app-step-nav__paragraph">Some areas of the country require additional environmental protection, 
  including those that have been designated as a protected area.</p>
<p class="app-step-nav__paragraph">The Conservation of Habitats and Species Regulations 2017 
  (Habitats Regulations) provide a very high level of protection to 2 types of 
  designated sites due to their special environment. These are:</p>


            <ul class="app-step-nav__list--bullet" data-length="2">
              <li >Special Areas of Conservation (SAC), which contribute to biodiversity 
                by maintaining and restoring habitats and species</li>
              <li>Special Protection Area (SPA), which provides protection to birds and 
                their nests, eggs and habitats</li>
              </ul>
              <br>

<p class="app-step-nav__paragraph">Government policy treats Ramsar sites (internationally 
  important wetland sites) in the same way as SACs and SPAs. Ramsars, 
  SACs and SPAs are referred to collectively as European sites.</p>

  <p class="app-step-nav__paragraph">You can use <a href ="https://www.gov.uk/guidance/how-to-access-natural-englands-maps-and-data">Natural England's maps and data</a> to 
  identify these protected areas and assess the likely impacts of your 
  planned abstraction using the water body boundaries and environmental data.</p>

    <p class="app-step-nav__paragraph">The Environment Agency are required to consult with 
  Natural England when determining an abstraction or impounding licence 
  within a site designated under either the Habitat's Regulations or 
  Wildlife and Countryside Act 1981 (W&CA).</p>

    <p class="app-step-nav__paragraph">We may issue licences in these areas with stricter 
  conditions or even refuse them to make sure these areas protected. 
  For more information see <a href="https://www.gov.uk/guidance/protected-sites-and-areas-how-to-review-planning-applications#types-of-protected-sites-and-areas">types of protected sites and areas</a>.</p>

      <p class="app-step-nav__paragraph">If you complete any environmental assessment, 
  you can submit this with your application as supporting information. 
  You may need to hire a consultant or ecologist to help you do this. 
  Please note that you may be asked for additional information or surveys 
  when you apply if we are not satisfied that the risk to these species, 
  habitats and/or sites have been fully considered.</p>

          </div>

        </li>


        <li class="app-step-nav__step js-step" id="rights-of-access">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Ensure you have rights of access
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-rights-of-access-2">
           <p class="app-step-nav__paragraph">You must have rights of access to the water body at the 
        point where you plan to abstract. This must be valid for at least 12 months 
        from the start date of your licence (unless you only need a temporary licence 
        for less than 12 months).</p>
           <p class="app-step-nav__paragraph">We may ask you to provide proof of your rights of access. If 
  you are the occupier, you may need to supply a map showing which land you occupy 
  and the proposed abstraction locations. If you are not the occupier, you may be 
  asked for a copy of the document giving you rights of access, such as a deed of 
  grant, a conveyance, lease, licence or tenancy agreement.</p>
           <p class="app-step-nav__paragraph">If you are not sure what rights of access or proof you need, <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">get 
  advice from the Environment Agency</a>. We may have to return your application if you 
  do not have the correct access rights or are unable to provide proof when we ask for it.</p>

          </div>

        </li>

        <li class="app-step-nav__step js-step" id="permits-and-permissions">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check permits and other permissions needed
              </span>
            </h2>
          </div>

 <div class="app-step-nav__panel js-panel" id="step-panel-permits-and-permissions-3">
            <p class="app-step-nav__paragraph">As well as your abstraction licence, you might need 
        other permits and permissions before you can abstract water.</p>
           <p class="app-step-nav__paragraph">If you are planning to discharge water to surface water or 
  groundwater, you will probably need an <a href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">environmental permit</a>. Getting an 
  environmental permit can take up to 4 months, so it is essential that you 
  apply soon if it is needed.</p>
           <p class="app-step-nav__paragraph">If you are building a new obstruction on a river containing 
  migratory fish or eels, you may also need to organise <a href="https://www.gov.uk/guidance/fish-pass-approval">fish pass approval</a>.</p>
                      <p class="app-step-nav__paragraph">Some licences also come with conditions on them to 
  protect eels. You can read GOV.UK guidance on <a href="https://www.gov.uk/guidance/safe-passage-for-eels">safe passage for eels</a>, or 
  <a href="https://www.gov.uk/guidance/safe-passage-for-eels#contact">contact the Environment Agency</a> and ask to speak to your local fisheries team for advice.</p>
           <p class="app-step-nav__paragraph">Make sure to check if you need a <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">flood risk activity permit</a> 
  for carrying out any proposed works if they are in, or close, to a main river. For 
  works on other watercourses (not on a main river), you should <a href="https://www.gov.uk/permission-work-on-river-flood-sea-defence">check if you need 
  permission to do work on a river, flood defence or sea defence</a>.</p>
                      <p class="app-step-nav__paragraph">Finally, you may need planning permission, for example 
  if you are building storage. You can get guidance and apply for this by 
  <a href="https://www.gov.uk/find-local-council">contacting your local council in your area</a>.</p>
          </div>

          
        </li>
{% endif %}

{% if (data['waterbodyMatch'] == 'yes') %}
        <li class="app-step-nav__step js-step" id="estimate-volume">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
               <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>
              

              <span class="js-step-title">
                Estimate the volume of water you will need
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-estimate-volume-1">
            <h3 class="app-step-nav__header-s">Justification of need</h3>
        <p class="app-step-nav__paragraph">As part of your licence application, you will need to 
  provide details of how you have worked out the amount of water you need to abstract.</p>   
        <p class="app-step-nav__paragraph">For example, you can give details of pump capacity by hours 
  run, irrigation depth and number of hectares of crop requiring irrigation, 
  specifications of equipment and processes, or industry recommendations and standards used.</p>
        <p class="app-step-nav__paragraph">Tables with estimated volumes for some activities are 
  available together with the <a href="https://www.gov.uk/government/publications/water-abstraction-application-for-a-water-resources-licence">water resources licence application forms</a>.</p>
        <p class="app-step-nav__paragraph">We will compare your expected water usage with benchmarks 
  of good practice when making a decision on your licence application.</p>
<h3 class="app-step-nav__header-s">Water efficiency</h3>

        <p class="app-step-nav__paragraph">You will also need to provide details of how you will be 
  using water efficiently.</p>
        <p class="app-step-nav__paragraph">For example, checking pipes for leaks, irrigating at 
  night, using accurate irrigation techniques, checking soil moisture 
  deficit, implementing a water management plan and auditing water consumption.</p>
        <p class="app-step-nav__paragraph">We will compare this with good practice for your sector.</p>

            
          </div>

        </li>
{% else %} 
         <li class="app-step-nav__step js-step" id="estimate-volume">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="app-step-nav__title">
               <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>
              

              <span class="js-step-title">
                Estimate the volume of water you will need
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-estimate-volume-4">
            <h3 class="app-step-nav__header-s">Justification of need</h3>
        <p class="app-step-nav__paragraph">As part of your licence application, you will need to 
  provide details of how you have worked out the amount of water you need to abstract.</p>   
        <p class="app-step-nav__paragraph">For example, you can give details of pump capacity by hours 
  run, irrigation depth and number of hectares of crop requiring irrigation, 
  specifications of equipment and processes, or industry recommendations and standards used.</p>
        <p class="app-step-nav__paragraph">Tables with estimated volumes for some activities are 
  available together with the <a href="https://www.gov.uk/government/publications/water-abstraction-application-for-a-water-resources-licence">water resources licence application forms</a>.</p>
        <p class="app-step-nav__paragraph">We will compare your expected water usage with benchmarks 
  of good practice when making a decision on your licence application.</p>
<h3 class="app-step-nav__header-s">Water efficiency</h3>

        <p class="app-step-nav__paragraph">You will also need to provide details of how you will be 
  using water efficiently.</p>
        <p class="app-step-nav__paragraph">For example, checking pipes for leaks, irrigating at 
  night, using accurate irrigation techniques, checking soil moisture 
  deficit, implementing a water management plan and auditing water consumption.</p>
        <p class="app-step-nav__paragraph">We will compare this with good practice for your sector.</p>

            
          </div>

        </li>
{% endif %}

{% if (data['waterbodyMatch'] == 'yes') %}
        <li class="app-step-nav__step js-step" id="licences-and-charges">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check charges
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-licences-and-charges-2">


        <h3 class="app-step-nav__header-s">Charges</h3>    
        <p class="app-step-nav__paragraph">You must pay an application charge:</p>

        <ul class="app-step-nav__list--bullet" data-length="4">
              <li >to apply for a new licence</li>
              <li>for some changes (variations) to an existing licence</li>
              </ul>
              <br>

        <p class="app-step-nav__paragraph">You will also usually need to pay an annual charge 
  (called a 'subsistence' charge) once you hold a full abstraction licence.</p>
        <p class="app-step-nav__paragraph">Use the guidance on the <a href="https://www.gov.uk/government/publications/water-resources-licences-when-and-how-you-are-charged">charges for water resources licences</a> to 
  work out your application charge and annual charge.</p>
        <p class="app-step-nav__paragraph">You may have to pay additional charges if the 
  Environment Agency need to carry out extra work to determine whether 
  you will be granted a licence. For example, completing conservation 
  assessments or making a comparison between competing abstraction proposals.</p>
          
          </div>

        </li>
{% else %} 
         <li class="app-step-nav__step js-step" id="licences-and-charges">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check types of licences and charges
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-licences-and-charges-5">

        <h3 class="app-step-nav__header-s">Types of water resources licence</h3>    
        <p class="app-step-nav__paragraph">There are different types of water resources licences you can apply 
  for. They are:</p>

  <ul class="app-step-nav__list--bullet" data-length="4">
              <li >a full abstraction licence - for most types of water abstraction over 20 
    cubic metres a day</li>
              <li>a transfer abstraction licence - to move over 20 cubic metres of water 
    a day from one source to another without intervening use</li>
                <li >a temporary abstraction licence - to abstract more than 20 cubic metres 
    of water a day over a period of less than 28 days</li>
              <li>an impounding licence - to create or alter an impoundment structure 
    such as a sluice, weir or dam</li>
              </ul>
<br>
        <p class="app-step-nav__paragraph">If water levels in your area are usually low over the 
  summer period, you may prefer to apply for a licence for only certain 
  months of the year. Often abstractors will store water for use in the 
  summer. In some cases, this can make a difference to whether your licence 
  application is approved.</p>


        <h3 class="app-step-nav__header-s">Charges</h3>    
        <p class="app-step-nav__paragraph">You must pay an application charge:</p>

        <ul class="app-step-nav__list--bullet" data-length="4">
              <li >to apply for a new licence</li>
              <li>for some changes (variations) to an existing licence</li>
              </ul>
              <br>

        <p class="app-step-nav__paragraph">You will also usually need to pay an annual charge 
  (called a 'subsistence' charge) once you hold a full abstraction licence.</p>
        <p class="app-step-nav__paragraph">Use the guidance on the <a href="https://www.gov.uk/government/publications/water-resources-licences-when-and-how-you-are-charged">charges for water resources licences</a> to 
  work out your application charge and annual charge.</p>
        <p class="app-step-nav__paragraph">You may have to pay additional charges if the 
  Environment Agency need to carry out extra work to determine whether 
  you will be granted a licence. For example, completing conservation 
  assessments or making a comparison between competing abstraction proposals.</p>
          
          </div>

        </li>
{% endif %}

{% if (data['waterbodyMatch'] == 'yes') %} 
        <li class="app-step-nav__step js-step" id="apply">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Apply to change your licence
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-apply-3">
            <p class="app-step-nav__paragraph">If you are an existing licence holder, you can apply to the 
  Environmental Agency to make a <a href="https://www.gov.uk/guidance/change-revoke-or-transfer-a-water-abstraction-or-impoundment-licence#how-to-apply-for-a-normal-or-substantial-variation" class="govuk-link">change to your licence</a>, also known as a 'variation'.</p>
            <p class="app-step-nav__paragraph">Examples of variations include:</p>
           <ul class="app-step-nav__list--bullet" data-length="5">
            <li>adding or changing an abstraction purpose (use)</li>
            <li>adding or changing an abstraction point</li>
            <li>increasing the volume of water to be abstracted, hourly, daily or annually</li>
            <li>changing a gauging station or observation borehole referred to in a licence condition</li>
            <li>changing the lining in an abstraction borehole referred to in a licence condition</li>
          </ul>
          <br>

  <p class="app-step-nav__paragraph">To vary your licence, you will need to use the relevant <a href="https://www.gov.uk/government/publications/water-abstraction-application-for-a-water-resources-licence" class="govuk-link"> 
  water resource application forms and form guidance notes</a>.</p>

<p class="app-step-nav__paragraph">If you do not have an existing licence, or you want to 
  take water from a new abstraction point, <a href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence" class="govuk-link">you can apply for a new abstraction licence</a>.</p>

          </div>

        </li>

{% elseif data['watertype'] == 'surface' and (data['licenceHolder'] == 'no' or data['waterbodyMatch'] == 'no') %} 
         <li class="app-step-nav__step js-step" id="apply">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Submit your application
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-apply-6">
            <p class="app-step-nav__paragraph">The Environment Agency grants water abstraction licences. 
          When considering whether to grant a licence for your site, 
          we consider other factors such as the flow rate for your 
          local area, how much nearby abstractors are taking, the 
          natural environment and any protected areas.</p>
        <p class="app-step-nav__paragraph">Additional flow data might be needed to determine water 
          availability in your area. You may be asked to submit flow 
          data as part of your licence application. You can pay for an <a href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-a-water-abstraction-or-impounding-licence">enhanced pre-application</a> 
          which will give you more information about whether this is needed and 
          how to gather the data.</p>

          <p class="app-step-nav__paragraph">Ideally, you should allow at least 18 months 
            to get your licence. Applying can take as little as six months but it will 
            take much longer if you need to collect flow data or other information.</p>

          <p class="app-step-nav__paragraph">Temporary licence applications can take up 
            to 28 days to process (or 56 days if we need to serve notice to a statutory 
            body, such as Natural England).</p>

          <p class="app-step-nav__paragraph"><a href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence">Apply for a water abstraction licence</a></p>
            
          </div>

        </li>
{% elseif data['watertype'] == 'ground' and (data['licenceHolder'] == 'no' or data['waterbodyMatch'] == 'no') %} 
        <li class="app-step-nav__step js-step" id="apply">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Apply for consent to investigate a groundwater source
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-apply-6">
            <p class="app-step-nav__paragraph">A pump test will be needed to determine availability for your 
          specific abstraction point. You must <a href="https://www.gov.uk/government/publications/apply-for-consent-to-investigate-a-groundwater-source/apply-for-consent-to-investigate-a-groundwater-source" class="govuk-link">get consent to investigate the groundwater 
          source</a> if you will abstract 20 cubic metres or more of water a day.</p>
            
          </div>

        </li>
{% endif %}
   
      </ol>
    </div>

  </div>
</div>

{% endblock %}
