{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<script src="/public/javascripts/tabular-stacked-bar.js"></script>

{% block header %}

  {% block govukHeader %}
    {{ govukHeader() }}
  {% endblock %}

  {% block govukServiceNavigation %}
    {% if internalCurrent %}
      {% if internalStartPage %}
        {{ govukServiceNavigation({
          serviceName: "Manual overrides system",
          serviceUrl: "/internal/current/start"
        }) }}
      {% else %}
        {{ govukServiceNavigation({
          serviceName: "Manual overrides system",
          serviceUrl: "/internal/current/start",
          navigation: [
            {
              html: "Signed in as: " + internalSignedInEmail,
              classes: "govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold"
            },
            {
              href: "/internal/current/sign-out",
              text: "Sign out"
            }
          ]
        }) }}
      {% endif %}
    {% else %}
      {{ govukServiceNavigation({
        serviceName: serviceName
      }) }}
    {% endif %}
  {% endblock %}
  
  {% block headerEnd %}
    {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="feedback.html">give your feedback by email</a>.'
}) }}
  {% endblock %}

{% endblock %}

{% block footer %}

  {{ govukFooter({
  meta: {
    items: [
       {
        href: "ur",
        text: "Home"
      },

      {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
      },
      
      {
        href: "/manage-prototype",
        text: "Manage"
      },

       {
        href: "/",
        text: "Design history"
      },

       {
        href: "/internal/current/start",
        text: "Internal"
      },

       {
        href: "/external/current/start",
        text: "External"
      }
      
    ]
  }
}) }}

{% endblock %}